/* default parameters */
:root{
    --bg-primary: #051923;
    --bg-secondary: #006494;
    --text-primary: #ffffff;
    --accent: #3572ef;
    --transition: all 0.1s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Outfit", sans-serif;
}


/* page style */
html{
    scroll-behavior: smooth;
    /* background-color: var(--bg-primary); */
}

body{
    color: var(--text-primary);
    /* background: var(--bg-primary); */
        background: linear-gradient(
        160deg,
        #000d16,
        #0A2A38,
        #000d16
        /* 
        #000d16
        #0A2A38
        #103B4F

        #051923,
        #0A2A38,
        #103B4F
        */
    );

    margin: 0;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}


img{
    max-width:100%;
    display:block;
}

.container{
    /* width:min(90%,1200px); */
    /* width: 80%; */
    width: min(85%, 1200px);
    margin:auto;
}

.navbar{
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    border-bottom: 1px solid rgba(255,255,255,0.08);
    background: rgba(5,25,35,0.65);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.logo a{
    font-size: 1.8rem;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    color: var(--text-primary);
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a:hover{
    color: var(--accent);
}

header{
    position: sticky;
    top: 0;
    width: auto;
    z-index: 100;
}

/* home section */
.home{
    min-height: calc(100vh - 80px);
    /* padding: 50px 0; */
    display: flex;
    align-items: center;
    /* box-sizing: border-box; */
}


.home-container{

    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.home-image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.home-image img{

    width: 380px;
    height: 460px;
    scale: 0.9;

    object-fit: cover;
    object-position: center 30%;

    border-radius: 5%;
}


.image-wrapper{

    position: relative;
    animation: floatImage 5s ease-in-out infinite;
}
.image-wrapper::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    /* background: rgb(3, 18, 116);--put something round, black at the back
    let it breath with the glow of the service cards */
    filter: blur(70px);
    opacity:0.35;
    border-radius:20px;
    z-index:0;
}


@keyframes floatImage{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-15px);
    }

    100%{
        transform:translateY(0px);
    }
}




.home-content{

    flex: 1;
    max-width: 600px;
}



.home-content h1{
    font-size: 3rem;
    margin-bottom: 15px;
}


.home-content h3{

    font-size: 1rem;
    color: var(--accent);
    margin-top: 8px;
    margin-bottom: 10px;
}


.home-content p{

    font-size: 1.1rem;
    line-height: 1.5;

    color: rgba(255,255,255,0.8);

}

.home-buttons{

    margin-top: 30px;

    display: flex;
    gap: 20px;
}


.btn,
.btn-outline{

    padding: 12px 12px;
    border-radius: 15px;
    transition: var(--transition);
}


.btn{

    background: #192f4f;   
    color: white;
}

.btn:hover{

    background: var(--accent);
}


/* section settings */
section{
    padding: 100px 0;
    box-sizing: border-box;


}

.section-title{

    text-align: left;
    margin-bottom: 50px;

}


.section-title h1{

    font-size: 2.5rem;
    margin-bottom: 15px;
    /* font-family: "Outfit", sans-serif; */

}


.section-title p{

    color: rgba(141, 138, 138, 0.75);
    margin: auto;
    line-height: 1.6;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.95rem;

}


/* =========================
   SERVICES SECTION
========================= */
/* .services{
    padding: 100px 0;

} */

/* Service Cards Container */

.services-container{
    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 25px;

}

/* to make the container responsive */

/* ...for tablets */
@media screen and (max-width: 1100px){

    .services-container{

        grid-template-columns: repeat(2, 1fr);

    }

}


/* for phones */
@media screen and (max-width: 600px){

    .services-container{

        grid-template-columns: 1fr;

    }

}




/* Individual Cards */

.service-card{

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    padding: 25px;

    border-radius: 10px;

    height: auto;

    transition: var(--transition);

    backdrop-filter: blur(10px);

}

.service-icon{
    width: 65px;
    height: 50px;

    margin-right: 10px;

    display:flex;
    /* align-items: center; */

}


.service-card h3{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: white;

}


.service-card p{

    color: rgba(255,255,255,0.75);
    font-size:1rem;
    line-height: 1.5;

}

.service-card:hover{

    transform: translateY(-10px);

    border-color: var(--bg-secondary);

    box-shadow: 0 10px 30px rgba(0,166,251,0.2);

}

/* =========================
   PROJECTS SECTION
========================= */


.projects{

    padding:100px 0;

}


.project-container{

    display:grid;

    grid-template-columns: repeat(4,1fr);

    gap:25px;

}

/* to make the container responsive */

/* ...for tablets */
@media screen and (max-width: 1100px){

    .project-container{

        grid-template-columns: repeat(2, 1fr);

    }

}


/* for phones */
@media screen and (max-width: 600px){

    .project-container{

        grid-template-columns: 1fr;

    }

}

.project-card{

    background: rgba(255,255,255,0.05);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius:10px;
    overflow:hidden;

    transition:var(--transition);

}

.project-image{
    width:100%;
    height: 180px;
    overflow:hidden;
}

.project-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    /* object-position:center; */
    transition:var(--transition);
}

.project-content{

    padding: 25px;

}



.project-card h3{

    font-size:1.2rem;

    margin-bottom:12px;

    color:white;

}


.project-card p{

    color: rgba(255,255,255,0.75);

    line-height:1.5;
    font-size: 1rem;

}

.project-card:hover{

    transform:translateY(-8px);

    border-color:var(--bg-secondary);

}

.project-card:hover .project-image img{
    transform:scale(1.06);
}


/*============= 
RESUME section 
===============
*/

.resume-container{
    display:grid;
    grid-template-columns: 1.6fr 1fr;

    gap:50px;
    align-items: start;

}

/* responsiveness */
@media (max-width: 900px) {

    .resume-container {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .resume-timeline {
        max-width: 100%;
    }

    .resume-left,
    .resume-right {
        width: 100%;
    }

    .entry-desc {
        max-width: 100%;
    }

    .tech-stack {
        max-width: 100%;
    }
}

/* for phones */
@media (max-width: 600px) {

    .resume-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .resume-subtitle {
        font-size: 1.1rem;
    }


    .resume-timeline {
        margin-top: 12px;
        width: 100%;
    }

    .resume-timeline::before {
        left: 4px;
    }

    .timeline-node {
        left: -1px;
    }

    .timeline-entry {
        padding-left: 27px;
        margin-bottom: 32px;
    }

    .entry-header {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .role {
        display: inline;
    }

    .company {
        display: inline;
        margin-left: 3px;
        font-size: 0.8rem;
    }

    .entry-date {
        font-size: 0.75rem;
        margin-bottom: 10px;
    }

    .entry-desc {
        font-size: 0.88rem;
        line-height: 1.6;
    }


    .education {
        margin-top: 12px;
    }

    .education-item h4 {
        font-size: 0.95rem;
        line-height: 1.5;
        margin-top: 12px;
    }

    .school {
        font-size: 0.85rem;
        line-height: 1.5;
    }

    .year {
        font-size: 0.75rem;
    }


    .tech-stack {
        gap: 7px;
        margin-top: 12px;
    }

    .tech-stack span {
        padding: 7px 10px;
        font-size: 0.8rem;
    }


    .certifications {
        margin-top: 10px;
    }

    .cert-card {
        padding: 12px;
        margin-bottom: 12px;
    }

    .cert-item {
        gap: 10px;
    }

    .cert-item i {
        font-size: 1rem;
    }

    .cert-item span {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .cert-provider {
        font-size: 0.85rem;
    }
}



.resume-subtitle{
    font-size: 1.3rem;
    color: #979fb1;
}

/* Timeline Track */
.resume-timeline {
  position: relative;
  max-width: 680px;
  margin-top: 15px;
  margin-bottom: 25px;
}

/* Vertical Line */
.resume-timeline::before {
  content: '';
  position: absolute;
  top: 8px;
  bottom: 14px; /* Prevents line from leaking below the last node */
  left: 5px;    /* Perfectly centers the 1px line under the 11px node */
  width: 1px;
  background-color: #373b41; 
}

/* Block Wrapper */
.timeline-entry {
  position: relative;
  padding-left: 30px; /* Gap between the line and the text */
  margin-bottom: 40px;
}

.timeline-entry:last-child {
  margin-bottom: 0;
}

/* Blue Circle Node */
.timeline-node {
  position: absolute;
  left: 0;
  top: 5px;
  width: 11px;
  height: 11px;
  border: 2px solid var(--accent); 
  border-radius: 50%;
  background-color: var(--bg-primary);
  z-index: 2;
}

/* Typography Styling */
.entry-header {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.role {
  color: #f1f2f4; 
}

.company {
  color: var(--accent); 
  margin-left: 4px;
  font-size: 0.9rem;
}

.entry-date {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8rem;
  color: #848b9b; 
  margin-bottom: 14px;
}

.entry-desc {
  margin: 0;
  font-size: 0.95rem;
  color: #848b9b; 
  line-height: 1.5;
}

/* education  */
.education{
    margin-top: 15px;
    
}

.education-item h4{
    margin-top: 15px;
    font-size: 1.1rem;
    color: white;
    /* margin-bottom: 30px; */

}

.school{
    color: var(--accent);
}

.year{
    display: block;
    color:#848b9b;
    font-family: "JetBrains Mono", monospace;
    font-size: 0.85rem;
}


/* tech stack */
.tech-stack{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* badges for tech stack */
.tech-stack span{
    padding: 10px;
    border-radius: 20px;
    background:rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.05);
    transition: .5s;
}

.tech-stack span:hover{
    border-color: var(--accent);
    transform: translateY(-3px);
}

/* horizontal line to separate tech stack and certifications */
hr{  
    border: none;
    height: 0.5px;
    background: var(--accent);
    margin-bottom: 15px;
    /* color: #006494; */
}

/*MY CERTIFICATIONS */

.certifications{
    margin-top: 12px;
    display: block;
    gap: 18px;
    
}

.cert-item{
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--accent);
    font-size: 1.3rem;
}

.cert-card{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: var(--transition);
    display: block;
    margin-bottom: 15px;

}



.cert-card p{
    color: var(--accent);
    font-size: 1rem;
}

.cert-card:hover{
    transform: translateY(-2px);
    border-color: var(--bg-secondary);
}

.cert-item i{
    color: #805b10;
    font-size: 1.1rem;
}

.cert-provider {
    /* display: flex; */
    /* color: var(--accent);  */
    font-size: 1.2rem;
    align-items: right;
}


.cert-item span{
    display: flex;
    color: white;
    font-size: 1.1rem;
}


/* 
=================
CONTACT SECTION
==================
*/

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info p{

    font-size: 1rem;
    line-height: normal;
    color: #848b9b;
}

.contact-details {
    display: block;
    align-items: center;
}

.contact-item i{
    /* color: var(--accent); */
    font-size: 1.2rem;
    margin-right: 10px;
    margin-bottom: 15px;
    color: #848b9b;
    /* display:block; */
}


.contact-item span {
    font-size: 1rem;
    margin: 15px auto;
    color: #f5f5f5;
}


/* contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* border-radius: 60px; */
    /* border: solid rgba(255, 255, 255, 0.1) */
}

.contact-card {
    background: rgba(255, 255, 255, 0.5);
    border: 1px sold rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    height: auto;
    backdrop-filter: blur(10px);
    display: block;
    /* padding: 20% */

}

.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid var(--accent);
    border-radius: 10px;
    transition: 0.3s;
    outline: none;

}

.input-group input:focus,
.input-group textarea:focus {
    border-color: var(--bg-secondary);
    box-shadow: 0 0 8px rgba(0, 119, 255, 0.2);
}

textarea {
    /* resize: vertical; */
    color: #373b41;
}

button {
    width: 100%;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #373b41;

}



button:hover{
    background-color: var(--accent);
}





